
<div>
    <h2 style="text-align:center"><b>Add Coupon Details</b></h2>
    <div class="col-md-8 col-md-offset-3">
    <form [formGroup]="myForm">
      
      <div class="form-group">
        <label>ID</label>
        <input type="text" formControlName="id" #id class="form-control" />
        </div>
  
      <div class="form-group">
        <label>couponname</label>
        <input type="text" formControlName="couponname" #couponname class="form-control" />
        </div>
   
  
        <div class="form-group">
            <label>promocode</label>
            <input type="text" formControlName="promocode" #promocode class="form-control" />
            </div>
  
         <div class="form-group">
        <label>Imageurl</label>
        <input type="text" formControlName="imageurl" #imageurl class="form-control" />
        </div>
  
 
      <button  (click)="addcouponToService(id.value,couponname.value,promocode.value,imageurl.value)"
      class="btn btn-primary">Save</button>
    &nbsp; &nbsp;
    <button (click)="cancel()" class="btn btn-warning">Cancel</button>
    </form>
  
  </div>
  
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
