<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="login">Login <span class="sr-only">(current)</span></a>
        <a routerLink="/HomePage" routerLinkActive="active">Home Page</a></b>
         <a routerLink="/Coupons" routerLinkActive="active">Coupons</a></b>
         <a routerLink="/News" routerLinkActive="active">News</a>
      </li>
   
    </ul>
  </div>
</nav>
<router-outlet></router-outlet> -->

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li><a routerLink="/Login">Login</a></li>
      <li><a routerLink="/Homepage">Homepage</a></li>
      <li><a routerLink="/About Us">About Us</a></li>
      <li><a routerLink="/News">News</a></li></br>
      <li><a routerLink="/Coupons">Coupons</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet> -->

<h2 style="text-align: center;">Deals And Coupons FinderApp</h2>
<nav class="navbar navbar-expand-md navbar-light bg-light">
    
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
          <img src="../assets/Image/capgemini1_logo.png" style="width:114px; height: 46px;"> &nbsp;
          <Li><a routerLink="/">Login</a></Li>&nbsp;&nbsp;
            <Li><a routerLink="/Homepage">Homepage</a></Li>&nbsp;&nbsp;
            <li><a routerLink="/About Us">About Us</a></li>&nbsp;&nbsp;
             <li><a routerLink="/News">News</a></li>&nbsp;&nbsp;
            <li><a routerLink="/Coupons">Coupons</a></li>&nbsp;&nbsp;
            <li><a routerLink="/footer">Footer</a></li>
   </div>
        
        <div class="navbar-nav ml-auto">
</div>
    </div>
</nav>
  

<router-outlet></router-outlet>
<app-footer></app-footer>
