<div class="col-md-4 col-md-offset-4">
    <form>
      <div class="form-group">
        <label>ID</label>
        <input type="text"  name="id" [(ngModel)]="playerObject.id" class="form-control" >
      </div>
      <div class="form-group">
          <label>playerName</label>
          <input type="text" name="playername" [(ngModel)]="playerObject.playername" class="form-control" >
        </div>
        <div class="form-group">
            <label>gameName</label>
            <input type="text" name="gamename" [(ngModel)]="playerObject.gamename" class="form-control" >
          </div>
        <div class="form-group">
            <label>Detail</label>
            <input type="text" name="detail" [(ngModel)]="playerObject.detail" class="form-control">
          </div>
         
            <div class="form-group">
              <label>ImageUrl</label>
              <input type="text" name="imageurl" [(ngModel)]="playerObject.imageurl" class="form-control" >
            </div>
          
          <button (click)="submit()" class="btn btn-success">Submit</button>  
          &nbsp;&nbsp;
          <button (click)="cancel()" class="btn btn-danger">Cancel</button>
    </form>
    </div>
    

